$brand: #fc7525;
$text: #3C3C41;
$icons: #9C9894;

/*HERO*/
/*pd = padding*/
$hero-title: 40px;
$hero-description: 15px;
$hero-publication: 12px;
$hero-card-width: 800px;
$hero-card-pd-block: 30px;

/*SECTIONS*/
/*mb = margin bottom*/
$sec-img-mb:20px;
$sec-title: 20px;
$sect-title-mb:20px;  
$sec-desctiption: 15px;
$sec-desctiption-mb: 40px;

/*SECTION MAIN CARDS*/
/*mcr = main card*/
/*mb = margin bottom*/
$sec-mcr-title:20px;
$sec-mcr-title-reference:15px;
$sec-mcr-text:15px;
$sec-mcr-text-mb:20px;


/*NAV LINKS*/
$col-gap: 40px;
$row-gap: 20px;

/*BUTTONs*/
