$default-color: black;
$brand: #fc7525;
$grey-btn:#EDEDE7;
$text: #3C3C41;
$icons: #9C9894;
$main: #F5F5F1;

/*HERO*/
/*pd = padding*/
$hero-title: 40px;
$hero-description: 15px;
$hero-publication: 12px;
$hero-card-width: 800px;
$hero-card-pd-block: 30px;

/*SECTIONS*/
/*mb = margin bottom*/
/*pb/pt = padding bottom/padding top */
$sec-img-mb:20px;
$sec-title: 20px;
$sec-title-mb:20px;  
$sec-desctiption: 15px;
$sec-desctiption-mb: 40px;
$sec-p: 30px;
$sec-pb: 100px;
$sec-pt: 100px; 
$sec-flex-gap: 30px;
$sec-grid-gap: 30px;


/*SECTION pwart CARDS*/
/*pwart = preview article card*/
/*mb = margin bottom*/
$sec-pwart-img-mb: 30px;
$sec-pwart-title:20px;
$sec-pwart-title-reference:15px;
$sec-pwart-title-mb:10px;
$sec-pwart-text:15px;
$sec-pwart-text-mb:20px;


/*NAV LINKS*/
$col-gap: 40px;
$row-gap: 20px;

/*BUTTONs*/
$btn-mb: 30px;