@import '@/assets/scss/_shared.scss';

@mixin defaultSet {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      ul,ol{
        list-style: none;
      }
      .container{
        max-width: 1140px;
        margin: 0 auto;
      }
      img{
        width: 100%;
        height: 100%;
        display: block;
      }
}

@mixin btn ($pad-inline: 15px, $bord-rad: 0, $color: $brand) {
  background-color: $color;
  padding: 8px $pad-inline;
  border: none;
  color: white;
  border-radius: $bord-rad;
  text-transform: uppercase;
  font-weight: 700;
}

@mixin anchorDefault {
  text-decoration: none;
  color: currentColor;
}

@mixin jumboCard($bord-rad:15px, $pad-inline: 60px, $pad-block: 30px){
  border: 4px solid salmon;
  background-color: white;
  border-radius: $bord-rad;
  padding-block:$pad-block;
  padding-inline:$pad-inline;
  text-align: center;
  max-width: $hero-card-width;

  h1{
    font-size: $hero-title;
    margin-bottom: 15px;
  }
  p{
    font-size: $hero-publication;
  }
}
