@import '@/assets/scss/_shared.scss';

@mixin defaultSet {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      ul,ol{
        list-style: none;
      }
      .container{
        max-width: 1140px;
        margin: 0 auto;
      }
      img{
        width: 100%;
        // height: 100%;
        display: block;
      }
}

@mixin btn ($pad-inline: 15px, $bord-rad: 0, $color: $brand, $width:100%) {
  background-color: $color;
  padding-block: 8px;
  padding-inline: $pad-inline;
  border-color: transparent;
  color: white;
  border-radius: $bord-rad;
  text-transform: uppercase;
  font-weight: 500;
  max-width: $width;
}

@mixin anchorDefault {
  text-decoration: none;
  color: currentColor;
}

@mixin jumboCard($bord-rad:15px, $pad-inline: 60px, $pad-block: $hero-card-pd-block){
  // border: 4px solid salmon;
  background-color: white;
  border-radius: $bord-rad;
  padding-block:$pad-block;
  padding-inline:$pad-inline;
  text-align: center;
  max-width: $hero-card-width;

  h1{
    font-size: $hero-title;
    margin-bottom: 15px;
  }
  p{
    font-size: $hero-publication;
  }
}

@mixin displayFLEX( $al-items:center, 
                    $j-content:center, 
                    $f-direction: row) {
    display: flex;
    gap: $sec-flex-gap;
    align-items: $al-items;
    justify-content: $j-content;
    flex-direction: $f-direction;
}

@mixin displayGRID( $al-items:unset,
                    $al-content:unset,
                    $j-items:unset,
                    $j-content:unset,
                    $place-items:unset,
                    $place-content:unset, 
                    $col-num:2, 
                    $custom-col: 1fr, 
                    $row-num:2, 
                    $custom-row: 1fr,
                    $row-gap: 30px,
                    $col-gap: 30px) {
    display: grid;
    grid-template-columns: repeat($col-num, $custom-col);
    grid-template-rows: repeat($row-num, $custom-row);
    row-gap: $row-gap;
    column-gap: $col-gap;
    align-items: $al-items;
    align-content: $al-content;
    justify-items: $j-items;
    justify-content: $j-content;
    place-items: $place-items;
    place-content: $place-content;
}

@mixin categorySection($bg-color: white, $text-align:center) {

    background-color: $bg-color;
    text-align: $text-align;
    padding: $sec-p $sec-p $sec-pb $sec-p;
    color: $text;
    
    .title{
        font-size: $sec-title;
        text-transform: uppercase;
        margin-bottom: $sec-title-mb;
    }
    .sec-description{
      color: $icons;
      font-size:$sec-desctiption;
      // border: 2px solid black;
      max-width: 60%;
      margin-inline: auto;
      margin-bottom: $sec-desctiption-mb;
    }
    .card-wrapper {
        @include displayFLEX;
        // display: $card-wrap-display;
        // gap: $sec-flex-gap;
        // align-items: center;
        // justify-content: center;
    }
}

@mixin articleCard {
  
  figure{
    margin-bottom: $sec-img-mb;
  }
  h3,p{
    max-width: 80%;
    margin: 0 auto;
  } 
  h3{
    font-size: $sec-pwart-title;
  }

  p{
    color: $icons;
    font-size: $sec-pwart-title-reference;
  }
}

@mixin articlePreview {
  text-align: left;
  background-color: white;
  padding-bottom: 40px;
  figure{
    margin-bottom: $sec-pwart-img-mb;
  }
  .title, 
  .description,
  .reference{
    max-width: 95%;
    // border: 2px solid black;
    margin: 0 auto;
  }
  .title{
    font-size: $sec-pwart-title;
    margin-bottom: $sec-pwart-title-mb;
  }
  .description,
  .reference{
    margin-bottom: $sec-pwart-text-mb;
    font-size: $sec-pwart-text;         
  }
  .description{
    line-height: 1.5rem;
  }
  hr{
    max-width: 95%;
    margin-inline:auto;
    margin-bottom:$sec-pwart-text-mb;
    border-top: 1px dashed $icons;
    border-bottom: 1px dashed transparent;
  }
}

@mixin overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(transparent -100%, $brand 100%);
    color: white;
    visibility: hidden;

        div.link{
            cursor: pointer;
    }

}